.orders-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .checkout-navigation {
    width: 50%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(202, 202, 202, 0.567);
    padding: 10px 0;
  }

  .orders {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;

    h1 {
      text-align: center;
      margin: 11rem 5rem;
      text-transform: capitalize;
      color: rgba(0, 0, 0, 0.578);
    }

    .product {
      width: 100%;
      height: 160px;
      object-fit: cover;
      align-self: flex-start;
    }

    .orders-details {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      padding-bottom: 15px;
      border-bottom: 2px solid rgba(202, 202, 202, 0.567);

      width: 100%;
      justify-items: end;
      align-items: center;
      column-gap: 10px;
      margin-bottom: 15px;

      .order-name {
        justify-self: start;
      }
      .remove {
        justify-items: end;
      }
    }
  }

  .total {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
  }
}
